


.piechart{
    background-color: rgb(200, 150, 100) ;
    background: conic-gradient(gray 0% 10%, blue 10% 30%,green 30% 70%, yellow 70% 100%);
    width: 400px;
    height: 300px;
    border-radius:50% ;
    text-align: center;
  }
  .my-pie-chart{
  background-color: rgb(100, 150, 100) ;
    background: conic-gradient(rgb(73, 38, 38) 0% 10%, rgb(96, 96, 146) 10% 30%,
    green 30% 60%, yellow 60% 80%,rgb(50, 100, 150) 80% 90%,green 90% 100%);
    width: 200px;
    height: 200px;
    border-radius:50% ;
  }
  .your-pie-chart{
    background-color: rgb(200, 200, 100) ;
    background: conic-gradient(gray 0% 10%, blue 10% 30%,green 30% 70%, yellow 70% 100%);
    width: 100px;
    height: 100px;
    border-radius:50% ;
  }
  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10%;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  div.ex1 {
    background-color: lightblue;
    height: 100px;
    width: 250px;
    overflow-y: auto;
    display: inline-block;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  div.link {
display: inline-block;
background-color: gray;
color: #f1f1f1;
font-size: 16px;
  }
  .collapsible {
    /* background-color: #777; */
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: sans-serif;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  .myDiv{
    margin: 2px 10px 2px 4px;
    font-family: sans-serif;
    font-size: 20px;
  }
  